* {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(40px, 60px) 2fr 1fr;
  grid-template-areas: "nav-bar" "h1" "h2";
}
header h1 {
  font: 1.5rem arial #570470;
  grid-area: h1;
  align-self: center;
  justify-self: center;
  margin-top: 5px;
}
header h2 {
  font: 1rem arial black;
  grid-area: h2;
  align-self: center;
  justify-self: center;
  margin-bottom: 50px;
}
header .nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #570470;
  grid-area: nav-bar;
  grid-template-areas: "logo  ul best";
}
header .nav-bar .logo {
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 800;
  color: #fff;
  font-size: 1.5rem;
  grid-area: logo;
  justify-self: start;
  align-self: center;
}
header .nav-bar #best {
  font-weight: bold;
  grid-area: best;
  justify-self: end;
  align-self: center;
}
header .nav-bar ul {
  list-style: none;
  grid-area: ul;
  justify-self: center;
  align-self: center;
}
header .nav-bar ul li {
  display: inline-block;
  text-align: center;
  margin-left: 30px;
}
header .nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 15px;
  grid-template-areas: ". second first third ." ". fourth fifth sexth ." ". big big big .";
}
.gallery #first {
  grid-area: first;
}
.gallery #second {
  grid-area: second;
}
.gallery #third {
  grid-area: third;
}
.gallery #fourth {
  grid-area: fourth;
}
.gallery #fifth {
  grid-area: fifth;
}
.gallery #sexth {
  grid-area: sexth;
}
.gallery figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1.3fr;
}
.gallery figure img {
  height: 200px;
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.gallery figure img:hover {
  box-shadow: 0 0 2px 1px rgba(127, 0, 186, 0.5);
}
.gallery figure figcaption h3 {
  font-size: 0.5rem;
  color: #fff;
  background-color: #cd52f2b0;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 3px;
  padding: 5px;
  font-size: 1rem;
}
.gallery figure figcaption p {
  font-size: 1rem;
  text-align: justify;
}
.gallery .container {
  grid-area: big;
  background-image: url("https://www.thesprucepets.com/thmb/meRd41is751DsQQjofaiKV_ZUBg=/941x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/cat-talk-eyes-553942-hero-df606397b6ff47b19f3ab98589c3e2ce.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  width: 100%;
}
footer button {
  background-color: #570470;
  border-radius: 5px;
  padding: 3px;
  margin: 0.5rem;
  position: absolute;
  right: 0;
  bottom: -365px;
}
footer button a {
  margin: 2px;
  color: #fff;
  text-decoration: none;
}
footer p {
  margin: 0;
  background-color: rgba(85, 84, 84, 0.082);
  color: black;
  text-align: center;
  box-shadow: 4px 2px 20px 0px silver;
  padding: 5px;
  width: 100%;
}

.on {
  display: block;
}

aside {
  display: none;
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 0.3fr 3fr 0.3fr;
    grid-template-rows: repeat(7, 1fr);
    column-gap: 0;
    grid-template-areas: ". first ." ". second ." ". third ." ". fourth ." ". fifth ." ". sexth ." ". big .";
  }

  header {
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  header h1 {
    grid-area: h1;
    align-self: center;
    justify-self: center;
  }
  header h2 {
    grid-area: h2;
    align-self: center;
    justify-self: center;
  }
  header .nav-bar ul {
    display: none;
  }
}
@media (max-width: 720px) and (min-width: 480px) {
  .gallery {
    grid-template-columns: 0.3fr 2fr 2fr 0.3fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    grid-template-areas: ". first second ." ". third fourth ." ". fifth sexth ." ". big big .";
  }

  header {
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
  }
  header h1 {
    grid-area: h1;
    align-self: center;
    justify-self: center;
  }
  header h2 {
    grid-area: h2;
    align-self: center;
    justify-self: center;
  }
  header .nav-bar ul {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
